* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 15px;
}

.header {
    height: 24px;
    background-color: #1F2937;
    padding: 16px 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
}
